html
	height 100%

body
	background #f6f6f6
	height 100%

#mapa
	height 100%

// #controles -> todo el sidebar
#controles 
	h2
		margin 5px 0
		font-size 18px	

// #seleccion_controles -> botones para seleccionar compañias
#seleccion_controles
	margin-bottom 10px

	button
		float left

// #compañias -> lista de compañias
#companias
	clear both
	margin-bottom 10px

	label
		display block
		margin 0
		font-weight normal

		checkbox
			margin 0