doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Commodore
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='./css/normalize.css')
        link(rel='stylesheet', href='./css/styles.css')

    body
        section#controles
            #controles_cuarteles
                h2 Selecciona cuarteles:
                ul#seleccion_controles
                    li 
                        button(data-selection_exclude="all") Seleccionar todos
                    li
                        button(data-selection_include="all") Seleccionar ninguno
                    li
                        button(data-selection_exclude="6,7,8,12,15") Seleccionar AGUA
                    li
                        button(data-selection_include="6,7,8,12,15") Seleccionar ESCALAS
                    li
                        button(data-selection_include="6,7,8,12,14,15,19") Seleccionar RESCATE
                    li
                        button(data-selection_include="4,17,18") Seleccionar HAZMATS

                fieldset#companias

            //#controles_material_mayor
            //    h2 Agrega material mayor desde el mapa:

            //#controles_punto_emergencia

            #controles_simular
                p 
                    button Simular

        #mapa

        // Javascript
        script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-PBfh43n0WxflO8TSCHPvvA_ZqOMkoQU&sensor=false")
        script(src="./js/commodore.js")